<!-- your html code here -->

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Portfolio</h1>
      <p>
        Estos son algunos ejemplos de cómo nuestra tecnología impulsa la
        agricultura moderna. Cada proyecto refleja la integración entre
        innovación, análisis de datos y sostenibilidad para lograr una
        producción más eficiente y responsable.
      </p>
    </div>
  </div>
  <div
    class="row row-cols-1 row-cols-md-3 g-4 align-items-stretch justify-content-between"
  >
    <div class="card p-1" style="width: 20rem">
      <img
        src="https://imgs.search.brave.com/d7FP-_5yRHIluA4hgCDYd_q7qQah0Pket_hA2dkkp5I/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bG9naW5la28uY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIz/LzA3L3N3LTgtMTAy/NHg4ODYuanBn"
        class="card-img-top"
        alt="proyect presentation"
      />
      <div class="card-body">
        <h5 class="card-title">Monitoreo de cultivos</h5>
        <p class="card-text">
          Control en tiempo real del estado del suelo, humedad y crecimiento de
          los cultivos mediante sensores y análisis de datos.
        </p>
      </div>
    </div>
    <div class="card p-1" style="width: 20rem">
      <img
        src="https://imgs.search.brave.com/ylez3OSVk8t6zFbptA-xdn7pLc_mg4yl7D_Mkg-J_pw/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90cmFj/ZWFndGVjaC5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MDMvY3JvcHdpc2Uz/LnBuZw"
        class="card-img-top"
        alt="proyect presentation"
      />
      <div class="card-body">
        <h5 class="card-title">Gestión de terrenos</h5>
        <p class="card-text">
          Herramientas digitales para planificar, analizar y mejorar el uso del
          suelo, maximizando el rendimiento de cada parcela.
        </p>
      </div>
    </div>
    <div class="card p-1" style="width: 20rem">
      <img
        src="https://imgs.search.brave.com/XhObWgG8Q6SDRNjKniDql-YqnITWCm7UKOw_wBk2iX8/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9lb3Mu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE5LzExL3NvaWwt/bW9pc3R1cmUtYW5k/LW1vbml0b3Jpbmcu/anBnLndlYnA"
        class="card-img-center"
        alt="proyect presentation"
      />
      <div class="card-body">
        <h5 class="card-title">Análisis de rendimiento</h5>
        <p class="card-text">
          Informes detallados sobre productividad, consumo y eficiencia,
          impulsando decisiones basadas en datos precisos.
        </p>
      </div>
    </div>
  </div>
</div>
